build/
install/
log/

**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.eggs/
*.egg-info/
dist/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
compile_commands.json
.cmake/

.vscode/
.idea/
*.user
.DS_Store